*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  background: #fff;
  position: static;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.my-nav {
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
  top: 5px;
}

.nav-right img {
  width: 30px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50px;
  margin-right: 0;
}

.nav-left .menu {
  width: 25px;
  margin-right: 25px;
}

.nav-middle .mic {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin: 15px;
  padding: 8px 12px;
  /*border-radius: 25px;*/
}

.nav-middle .search-box input {
  width: 400px;
  outline: 0;
  border: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
  
}

/*video page*/

.main {
  padding-top: 85px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  background-color: #181818;
  height: 2000px;
}
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  height: 1500px;
}

#empty-div {
  width: 25px;
}
.main-section {
  width: 70%;
  background-color: #181818;
  height: 1500px;
}
.main-section p {
  padding-top: 15px;
  color: white;
}

.player iframe {
  width: 100%;
  height: 600px;
}
.video-player-details span {
  font-size: 15px;
  color: gray;
}
.video-player-info {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid rgb(61, 61, 61);
}

.video-player-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player-more::before {
  border-bottom: 2px solid gray;
}

.video-player-more img {
  margin: 0 25px;
  cursor: pointer;
}
.video-player-more span {
  margin-left: -20px;
  color: gray;
  font-size: 16px;
}

.subscribe-to-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  border-bottom: 1px solid rgb(61, 61, 61);
}

.subscribe-info {
  padding-bottom: 20px;
  padding-right: 400px;
}
.subscribe-info h4 {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.subscribe-info a {
  padding-left: 5px;
  color: #378fdb;
}
.subscribe-info h5 {
  font-size: 15px;
  color: gray;
  font-weight: 500;
}
.subscribe-info img {
  height: 15px;
  width: 15px;
  margin-top: 15px;
  margin-left: 5px;
}

.subscribe-info p {
  font-size: 14px;
}
.img-icon img {
  margin-bottom: 40px;
  border-radius: 50%;
}

.subscribe-button button {
  background-color: red;
  color: white;
  margin-right: 30px;
  height: 35px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  width: 140px;
  margin-bottom: 40px;
}

.comments-info {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-section .comments-count {
  color: white;
}

.btn-sort-btn {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-right: 800px;
}

.btn-sort-btn span {
  padding-left: 19px;
  font-size: 18px;
}

.new-comment,
.comment {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-input {
  flex-grow: 1;
  align-self: self-start;
  margin-bottom: 40px;
  margin-left: 20px;
  height: 2.5rem;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #393939;
}

#sortby {
  /* margin-top: 20px; */
  color: gray;
}

.sidebar {
  top: 0;
  width: 30%;
  background-color: #181818;
  /* float: right; */
  height: 1500px;
}

.thumbnail {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  text-decoration: none;
}

.duration {
  width: 100%;
  padding: 0.5rem;
  margin-top: -2.7rem;
  text-align: right;
  color: white;
}

.duration span {
  padding: 0.1rem 0.4rem;
  font-size: 13px;
  font-weight: 500;
  border-radius: 2px;
  background-color: #000;
}

.thumbnail-img {
  position: relative;
}

.thumbnail-img img {
  height: 96px;
}

.thumbnail-info {
  padding: 0 1rem;
}

.thumbnail-title {
  width: 202px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0 1rem 0.5rem 0;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.thumbnail-channel-name {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #aaa;
}

.thumbnail-channel-name > img {
  margin-left: 0.5rem;
  width: 14px;
}

.thumbnail-video-info {
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  font-size: 13px;
  color: #aaa;
}

.thumbnail-new {
  padding: 0.1rem 0.5rem;
  background-color: rgb(51, 51, 51);
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}

.thumbnail-img-overlay {
  visibility: hidden;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
}

.thumbnail-img-overlay .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 0.4rem 0.4rem 0 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
}

.btn-add {
  background-color: transparent;
  border: none;
}
.thumbnail-img-overlay img {
  width: 20px;
  height: 20px;
}

.thumbnail-overlay {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.thumbnail-overlay .btn {
  margin-right: -1rem;
}

.thumbnail:hover .thumbnail-img-overlay,
.thumbnail:hover .thumbnail-overlay {
  visibility: initial;
}
